@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*モバイルファースト想定でのBreakpoints --------*/
/**
 *   レスポンシブ時の自動可変関数
 * ==================================== */
/*   PC画面1920px➡︎1025px-------------------- */
/*   モバイル画面1024px➡︎600px-------------------- */
/*レスポンシブ対応呼び出し --------*/
body {
  color: #707070;
  font-weight: bold;
  line-height: 1.5;
  font-family: MPLUS1p;
}
@media screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-rows: 217px auto 150px;
    grid-template-columns: auto calc(240px + 127 * ( 100vw - 1025px ) / 895 );
  }
}

.l-footer {
  grid-row: 3/4;
  grid-column: 1/3;
  background-color: #ff0095;
  background-image: url(../img/pc_footer.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FFFFFF;
}

.l-header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.l-main {
  grid-row: 2/3;
  grid-column: 1/2;
}

.l-sidebar {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: #F2EDE9;
}

/*mixin対応呼び出し --------*/
.c-button {
  display: inline-block;
  height: 46px;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  border-radius: 10px;
  background-color: #F2EDE9;
  cursor: pointer;
}

/*   function, mixinの呼び出し -------------------- */
.c-box {
  display: inline-block;
  height: 46px;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  border-radius: 10px;
  background-color: #FFFFFF;
}

/*モバイルファースト想定でのBreakpoints --------*/
/* font-family: Roboto基準 */
.c-title-Roboto {
  font-family: Roboto;
}
/*mixin対応呼び出し --------*/
/* font-family: Roboto基準 */
.c-heading {
  font-family: Roboto;
}
.c-heading__M-normal {
  font-weight: normal;
  font-family: MPLUS1p;
}
.c-heading .c-heading__R-normal {
  font-weight: normal;
}

/*mixin対応呼び出し --------*/
/*   function, mixinの呼び出し -------------------- */
.p-search {
  display: inline-block;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .p-search {
    margin-right: 31px;
  }
}
.p-search:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 12px;
  width: 24px;
  height: 24px;
  background-image: url(../img/search-icon.svg);
  /* style.scssからimgフォルダを指定 */
  background-position: center center;
}
.p-search__box {
  width: 230px;
}
@media screen and (min-width: 600px) {
  .p-search__box {
    width: calc(230px + 166 * ( 100vw - 600px ) / 424 );
  }
}
@media screen and (min-width: 1025px) {
  .p-search__box {
    width: calc(300px + 96 * ( 100vw - 1025px ) / 895 );
  }
}
.p-search__button {
  width: 78px;
  margin-left: 13px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .p-search__button {
    width: calc(78px + 58 * ( 100vw - 600px ) / 424 );
  }
}
@media screen and (min-width: 1025px) {
  .p-search__button {
    width: calc(100px + 36 * ( 100vw - 1025px ) / 895 );
  }
}

/*mixin対応呼び出し --------*/
.p-header {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 217px;
  background-color: #FFF7EF;
  /*spのみプロパティ --------*/
}
@media screen and (min-width: 1025px) {
  .p-header {
    flex-flow: inherit;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
.p-header__title {
  font-size: 40px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .p-header__title {
    margin-left: calc(31px + 34 * ( 100vw - 1025px ) / 895 );
    font-size: calc(48px + 16 * ( 100vw - 1025px ) / 895 );
  }
}
.p-header__menu {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .p-header__menu {
    top: 18px;
    right: 26px;
    font-size: 34px;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__menu {
    display: none;
  }
}

/*   function, mixinの呼び出し -------------------- */
.p-sidebar {
  margin-top: 82px;
  margin-left: 46px;
  background-color: #F2EDE9;
}
.p-sidebar__title {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__title {
    display: block;
    margin-bottom: 85px;
    font-size: 34px;
  }
}
.p-sidebar-menu__list {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 24px;
}
.p-sidebar-menu__sub-menu {
  margin-left: 20px;
  margin-bottom: 49px;
}
.p-sidebar-menu__sub-menu__list {
  display: inline-block;
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 20px;
}

/*   function, mixinの呼び出し -------------------- */
/*   function, mixinの呼び出し -------------------- */
.p-hero {
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-hero {
    height: 530px;
    background-image: url(../img/front-page-hero.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.p-hero__title {
  position: absolute;
  top: 231px;
  left: 86px;
  color: #FFFFFF;
  font-size: 40px;
}

/*   function, mixinの呼び出し -------------------- */
.p-brunch {
  display: flex;
  justify-content: center;
  margin: 120px 0 134px 0;
}
.p-brunch__menu {
  display: flex;
  gap: 80px;
}

.p-brunch-menu--Take {
  display: flex;
  /* 子要素（container）の高さを親要素に合わせるため */
  width: 625px;
  height: 1190px;
  background-image: url(../img/font-page-TakeOut.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.p-brunch-menu--Eat {
  display: flex;
  /* 子要素（container）の高さを親要素に合わせるため */
  width: 625px;
  height: 1190px;
  background-image: url(../img/front-page-EatIn.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.p-brunch-menu--container {
  margin: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
}
.p-brunch-menu__title {
  position: relative;
  color: #EAEAEA;
  font-size: 41px;
}
.p-brunch-menu__title::after {
  content: " ";
  position: absolute;
  top: 140.5px;
  left: 0px;
  width: 63px;
  height: 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__title {
    font-size: 80px;
    line-height: 1.325;
    /* 必要？ */
  }
}
.p-brunch-menu__descriptions {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  row-gap: 20px;
}

.p-brunch-desc {
  padding: 20px 20px 0 20px;
  height: auto;
  min-height: 174px;
  background-color: #FFFFFF;
  opacity: 0.8;
  color: #3C2A10;
}
.p-brunch-desc__heading {
  font-size: 24px;
  margin-bottom: 26px;
}
.p-brunch-desc__text {
  font-size: 16px;
}

/**
 *   Foundation
 * ==================================== */
/**
 *   Layout
 * ==================================== */
/**
 *   Object
 * ==================================== */
/*   Component -------------------- */
/*# sourceMappingURL=style.css.map */