/* 検索ボックスを基準に作成 */
.c-box {
    display: inline-block;
    height: 46px;
    border-width: 1px;
    border-style: solid;
    border-color: #707070;
    border-radius: 10px;
    background-color: #FFFFFF;
}