@use "../../foundation/mixin" as m;

.c-page-nation {
    margin: 60px 0 31px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.mq(tab) {
        margin: respoTB(60, 106) 0 31px 0;
        justify-content: center;
        align-items: center;
    }
    @include m.mq(pc) {
        margin: respoPC(106, 150) 0 respoPC(31, 64) 0;
    }
    &__text {
        display: none;
        @include m.mq(tab) {
            display: block;
            font-size: 16px;
            line-height: calc(33 / 16);
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include m.mq(tab) {
            justify-content: inherit;
            gap: 14px;
            width: auto;
        }
        &__number {
            display: none;
            @include m.mq(tab) {
                display: grid;
                place-items: center;
                width: 32px;
                height: 32px;
                border: solid 1px #707070;
                background-color: #ffffff;
                font-size: 16px;
                color: #707070;
                font-family: Roboto;
                text-align: center;
                &:hover {
                    color: #ffffff;
                    background-color: #3c2b1c;
                }
            }
        }
        &__list {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #707070;
            @include m.mq(tab) {
                font-size: 0px;
            }
        }
        li:nth-child(1) a::before,
        li:nth-child(11) a::after {
            content: " ";
            display: block;
            width: 17px;
            height: 17px;
            margin-right: 8px;
            margin-left: 8px;
            background-image: url(../img/page-nation.svg);
        }
        li:nth-child(11) a::after {
            margin-left: 8px;
            transform: rotate(180deg);
        }
    }
}
