/*   function, mixinの呼び出し -------------------- */
@use "../../foundation/mixin" as m;
@use "../../foundation/function" as *;

.p-footer {
    justify-content: space-between;
    padding-top: 39px;
    &__Nav { 
        margin-bottom: 34px;
    }
    &__copyright {
        font-weight: normal;
        font-size: 14px;
        line-height: calc(20/14);
        color: #FFFFFF;
        text-align: center;
    }
}
.p-footer-nav {
    display: flex;
    justify-content: center;
    &__item {
        font-size: 20px;
        color: #FFFFFF;
    }
    &__line {
        display: block;
        width: 1px;
        height: 30px;
        margin: 0 10px 0 10px;
        background-color: #FFFFFF;
    }
}