/*   function, mixinの呼び出し -------------------- */
@use "../../foundation/mixin" as m;
@use "../../foundation/function" as *;

.p-page {
    &__hero {
        height: 225px;
        background-image: url(../img/page-hero.svg);
        @include m.mq(tab) {
            height: 500px;
        }
        &__title {
            margin-left: 26px;
            color: #FFFFFF;
            font-size: 36px;
            @include m.mq(tab) {
                margin-left: respoTB(26, 86);
                font-size: respoTB(36, 60);
            }
            @include m.mq(pc) {
                margin-left: 86px;
                font-size: 60px;
            }
        }
    }
}