/*   function, mixinの呼び出し -------------------- */
@use "../../foundation/mixin" as m;
@use "../../foundation/function" as *;

.p-search {
    display: inline-block;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    @include m.mq(tab) {
    
    }
    @include m.mq(pc) {
        margin-right: 31px;
    }
    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 11px;
        left: 12px;
        width: 24px;
        height: 24px;
        background-image: url(../img/search-icon.svg);  /* style.scssからimgフォルダを指定 */
        background-position: center center;
    }
    &__box {
        width: 230px;
        padding: 0 0 0 40px;
        @include m.mq(tab) {
            width: respoTB(230, 396);
        }
        @include m.mq(pc) {
            width: respoPC(240, 396);
        }
    }
    &__button {
        width: 78px;
        height: 46px;
        margin-left: 13px;
        text-align: center;
        @include m.mq(tab) {
            width: respoTB(78, 136);
        }
        @include m.mq(pc) {
            width: respoPC(100, 136);
        }
    }
}
