/*   function, mixinの呼び出し -------------------- */
@use "../../foundation/mixin" as m;
@use "../../foundation/function" as *;

.p-sidebar {
    padding-top: 82px;
    padding-left: 46px;
    position: relative;
    @include m.mq(pc) {
        padding-left: respoPC(20, 46);
    }
    &__title {
        display: block;
        margin-bottom: 85px;
        font-size: 34px;
        visibility: hidden;
        @include m.mq(pc) {
            visibility: visible;
        }
    }
    &__button {
        position: absolute;
        top: 0;
        right: -100%;
        &--open {
            position: fixed;
            top: 0px;
            right: 0px;
            z-index: 20;
            height: 57px;
            background-color: #f2ede9;
        }
    }
}

.p-sidebar-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 32px;
    height: 32px;
    &__line {
        display: inline-block;
        &--open {
            position: absolute;  /* この設定でなぜ綺麗に揃うか？ */
            height: 6px;
            width: 45px;
            background-color: #707070;
            transform: rotate(-135deg);
        }
        &--open:first-child {
            transform: rotate(-45deg);
        }
    }
}
.p-sidebar-menu {
    &__list {
        display: inline-block;
        margin-bottom: 40px;
        font-size: 24px;
    }
    &__sub-menu {
        margin-left: 20px;
        padding-right: 20px;
        margin-bottom: 49px;
        &__list {
            display: inline-block;
            margin-bottom: 23px;
            font-weight: normal;
            font-size: 20px;
        }
    }
}

// #menu-btn-check:checked ~ .menu-btn::before {
//     background-color: #707070;
//     // bottom: 0;
//     // transform: rotate(45deg);
// }
// #menu-btn-check:checked ~ .menu-btn::after {
//     background-color: #707070;
//     // top: 0;
//     // transform: rotate(-45deg);
// }
// #menu-btn-check {
//     display: none;
// }

// #menu-btn-check:checked ~ .l-sidebar {
//     left: 0;/*メニューを画面内へ*/
// }
