/*   mixinの呼び出し -------------------- */
@use "../foundation/mixin" as m;

.l-footer {
    grid-row: 3 / 4 ;
    grid-column: 1 / 3 ; 
    height: 150px;
    background-image: url(../img/footer-background.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}